<h1 class="title">To Do List App</h1>

<img
  class="image"
  src="/images/vecteezy_digital-drawing-of-a-page-of-planner-or-to-do-list-in-light_11048711_601.png"
  alt=""
/>

<p class="sub-title">
  Welcome to my To Do List App. Organise your time wisely. <br />Click on one
  of the option to create your To Do List. <br />Cross it out when you are
  done by clicking the check box.
</p>