<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/script.js"></script>
</body>
   </body>
<footer class="footer">
    <div>Made with ❤️️ by Alana &copy; 2023 Alana Barrett-Frew 
       </div>
       <div>
        <a href="https://www.vecteezy.com/free-png/to-do-list">To Do List png</a>
       </div>
     </footer>
</html>