<div class="links-div">
    <a class="link" href="/general" >General To Do List</a>
    <a class="link" href="/work" >Work To Do List</a>
    <a class="link" href="/shopping" >Shopping To Do List</a>
    <a class="link" href="/holiday" >Holiday To Do List</a>
</div>
